*, body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.background {
    max-width: 350px;
    width: 100%;
}

.screen {
    font-size: 1.8rem;
    padding: 2rem 1rem;
    background-color: #001a42;
}

.screen > p {
    background-color: #deebff;
    text-align: end;
    padding-right: 1rem;
}

.expression {
    font-size: 1.4rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    padding: 1rem;
    background-color: #003585;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.number, .operator {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 0;
}

.number {
    background-color: white;
}

.operator {
    background-color: #8ccfe0;
}

#clear {
    background-color: #535960
}

#delete {
    background-color: #9fa9b8;
}

#sign {
    background-color: #3873cd;
}

#equals {
    background-color: #00ffff;
}

[id='0'] {
    grid-column: span 2;
}
