*, body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    max-width: 350px;
    width: 100%;
}

.screen {
    font-size: 2.5rem;
    padding: 2rem 1rem;
    background-color: #001a42;
}

.screen > p {
    background-color: #deebff;
    text-align: end;
    padding-right: 1rem;
}

.expression {
    font-size: 1.4rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    padding: 1rem;
    background-color: #003585;
}

.number, .operator {
    border-radius: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 0;
}